.chat-container{
    display: flex;
    width: 100vw;
    height: 90vh;
    justify-content: center;
    align-items: center;

}
.mid{
    background-color: #950940;
    height: 70vh;
    width: 60vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% 70%;
    overflow: hidden;
}
.left-container{
    background-color: #4c0622;
    /* overflow: scroll; */
}
.contact{
    background-color: #c3073f;
    height: 100px;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* justify-content: center; */
}
.contact img {
    height: 50px;
    width: 50px;
    object-fit:cover;
    border-radius: 50%;
    padding: 10px;
}

.nav{
    background-color: #4e4e50;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: white;
    color: black;
}
.right-nav img {
    height: 40px;
    width: 40px;
    object-fit:cover;
    border-radius: 50%;
    padding: 0 10px 0 0px;
}
.rightmid{
    display: flex;
    height: 58vh;
    flex-direction: column;
    justify-content:flex-end;
}
.rightmid input{
    padding: 10px;
    background-color: #c3073f;
    width: 90%;
    border: none;
    border-radius: 10px;
}
.input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightmid input:focus{
    outline: none;
    border: none;
}
.message-container{
    height: 20vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.message-container .message-text{
    padding: 10px;
}
.mid-pic img{
    height: 40px;
    width: 40px;
    object-fit:cover;
    border-radius: 50%;
    padding: 5px;
    /* padding: 0 10px 0 0px; */

}
.message-text{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px 5px 0 5px;
    margin: 15px;
}
.messeges-containe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 52vh;
    overflow: scroll;
    overflow-x: hidden;
    
}
.mid-pic{
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.Search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Search-container input {
    width: 80%;
    background-color:  #c3073f; 
    border: none;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}
.Search-container input:focus{
    border: none;
    outline: none;
}
.fileImage{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.dp{
    height: 50px;
    width: 40px;
    border-radius: 50%;
}